# 
DRY: DO NOT REPEAT YOURSELF

In [5]:
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [9]:
for i in range(5):
    print("python is very easy")

python is very easy
python is very easy
python is very easy
python is very easy
python is very easy

In [10]:
for i in range(10):
    print("python is very easy")

python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy
python is very easy

In [7]:
# print all the elements of a list one by one using indexing
names= ["Mamta","Mayank","Arti","Nishi","Priyanshu","Abdullah","Suhail","Ayush"]
print(names)

['Mamta', 'Mayank', 'Arti', 'Nishi', 'Priyanshu', 'Abdullah', 'Suhail', 'Ayush']

In [28]:
print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])
print(names[5])
print(names[6])
print(names[7])

Mamta
Mayank
Arti
Nishi
Priyanshu
Abdullah
Suhail
Ayush

In [21]:
using for loop
names=["Mamta","Mayank","Nishi","Ayush","Arti","Priyanshu"]


for x in names:
     print(x)

SyntaxError: invalid syntax (1928211566.py, line 1)

In [11]:
for x in names:
    print(x)

Mamta
Mayank
Arti
Nishi
Priyanshu
Abdullah
Suhail
Ayush

In [29]:
a=range(9)
for x in a:
    print(names[x])

Mamta
Mayank
Arti
Nishi
Priyanshu
Abdullah
Suhail
Ayush

IndexError: list index out of range

In [30]:
for x in range (8):
    print(names[x])

Mamta
Mayank
Arti
Nishi
Priyanshu
Abdullah
Suhail
Ayush

In [26]:
for x in range (9):
    print(x)

0
1
2
3
4
5
6
7
8

In [27]:
# range in data types[start,stop,steps]

In [13]:
print(range(9))

range(0, 9)

In [14]:
x=range(9)
print(x)

range(0, 9)

In [3]:
print(range(9)):

SyntaxError: invalid syntax (302346181.py, line 1)

In [16]:
print(list(x))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
range(0, 9)

In [17]:
x=list(range(9))
print(9)

9

In [18]:
y=range(10,20)
print(y)
print(list(y))

range(10, 20)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [19]:
z=range(10,20,2)
print(list(z))

[10, 12, 14, 16, 18]

In [25]:
c=3
print(names[c])

Nishi

In [10]:
f=4
print(names[f])

NameError: name 'names' is not defined

In [2]:
d=4
print(names[d])

NameError: name 'names' is not defined

In [3]:
c=4
print(names[c])

NameError: name 'names' is not defined

 #### itrable data types = list, touple,dictionary,set,string,range

itration meanigs=repeatition

itrable =multipul values

In [7]:
for a in [12,38,445,69]:
    print("python is esay")
    print(a)

python is esay
12
python is esay
38
python is esay
445
python is esay
69

 ## the lenght of the itreble decide the number of times "for" loops wil rum.
 no.of elements in the itrables.

In [11]:
for a in [12,38,45,69]:# yha pr value se bhi fark pdta hai or no ki lenght se bhi fark pdta hai
                         kyoki yha pr a ki value puchi gyi hai
    print(a)
    print("python is easy")

12
python is easy
38
python is easy
45
python is easy
69
python is easy

In [13]:
for a in [12,38,45,69]:# specfic no se koi fark nhi pdta,nomber ki length se fark pdta hai
      print("python is easy")

python is easy
python is easy
python is easy
python is easy

In [15]:
 y=45
y in [12,45,38] # membership k thru work kerega

True

In [17]:
# data types ki informetion
for a in [12,38,45,69]:
    print(a)
    print(type(a))
    print("python is easy")

12
<class 'int'>
python is easy
38
<class 'int'>
python is easy
45
<class 'int'>
python is easy
69
<class 'int'>
python is easy

In [18]:
# data types ki informetion
for a in ["12","38","45","69"]:
    print(a)
    print(type(a))
    print("python is easy")

12
<class 'str'>
python is easy
38
<class 'str'>
python is easy
45
<class 'str'>
python is easy
69
<class 'str'>
python is easy

In [19]:
# data types ki informetion data types string"" bhi dega
for a in [12,"38","45",69]:
    print(a)
    print(type(a))
    print("python is easy")

12
<class 'int'>
python is easy
38
<class 'str'>
python is easy
45
<class 'str'>
python is easy
69
<class 'int'>
python is easy

In [1]:
#2. print each letter in a word 
word="python"
for letter in word:
    print(letter)

p
y
t
h
o
n

In [4]:
for x in range(5):
    print(x)
print("hello world")#indent

0
1
2
3
4
hello world

In [5]:
for x in range(5):
    print(x)
    print("hello world")

0
hello world
1
hello world
2
hello world
3
hello world
4
hello world

In [6]:
y=0
for x in range(5):
    y=y+x

print(x)
print(y)

4
10

In [19]:
y=2
for x in range (3):
    y=y+x
print(x)
print(y)

2
5

In [20]:
y=2
for x in range (3):
    y=y+x
    print(x)
    print(y)

0
2
1
3
2
5

In [7]:
count=0
device="leptop"
for x in device:
    count=count+1

print(count)

6

In [8]:
count=0
device="leptop"
for x in device:
    count=count+1
    print(count)

1
2
3
4
5
6

In [11]:
count=1
device="computer"
for x in device:
    count=count+1
    print(count)

2
3
4
5
6
7
8
9

In [12]:
count=3
device="computer"
for x in device:
    count=count+1
    print(count)

4
5
6
7
8
9
10
11

In [17]:
y=5
for x in range(4):
    x=y+x
    print(x)
    print(y)

5
5
6
5
7
5
8
5

In [18]:
y=5
for x in range(4):
    x=y+x
    
print(x)
print(y)

8
5

In [1]:
x=1
while x<5:
    print(x)
    x=x+1

1
2
3
4

In [2]:
x=1
while x<10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9

In [5]:
x=5
while x<=10:
    print(x)
    x=x+1

5
6
7
8
9
10

In [6]:
x="steave jobs"
while len(x)<20:
    print("steve jobs = Picasso +Edision")
    x=x+" "

steve jobs = Picasso +Edision
steve jobs = Picasso +Edision
steve jobs = Picasso +Edision
steve jobs = Picasso +Edision
steve jobs = Picasso +Edision
steve jobs = Picasso +Edision
steve jobs = Picasso +Edision
steve jobs = Picasso +Edision
steve jobs = Picasso +Edision

In [1]:
while False:
    print("saransh")

In [4]:
x=15
while x>=10:
    print(x)
    x=x-1

15
14
13
12
11
10

In [5]:
x=("Mamta","nishi","arti","mayank","priyanshu","abdullah","suhail")
while len(x)<20:
    print(len(x))
    x=x+""

7

TypeError: can only concatenate tuple (not "str") to tuple

In [10]:
names=["Mamta","nishi","arti","mayank","priyanshu","abdullah","suhail"]
while (name):
    print(names)
    names=names+""

NameError: name 'name' is not defined

In [22]:
names=["mamta","nishi","arti","mayank","tushar","shreya"]

while names:
    print(names)
    print(len(x))
    x=x+1

['mamta', 'nishi', 'arti', 'mayank', 'tushar', 'shreya']
7

TypeError: can only concatenate list (not "int") to list

In [2]:
names=["mamta","nishi","arti","mayank","tushar","shreya"]

while names:
    print(names)
    print(len(i))
    i=i+1

['mamta', 'nishi', 'arti', 'mayank', 'tushar', 'shreya']

NameError: name 'i' is not defined

In [23]:
names=["mamta","nishi","arti","mayank","tushar","shreya"]

a=range(10)
while x in a:
    print(names[x])

In [1]:
names=["mamta","nishi","arti","mayank","tushar","shreya"]

while i<len(names):
    print(names)
    i=i+1

NameError: name 'i' is not defined

In [2]:
# print all the element of the list one by one using loop
books=["discovery of india","nexus","sapniens","gaban"]
count=0
while count<len(books):
    print(books[count])
    count+=1

discovery of india
nexus
sapniens
gaban

In [3]:
for x in range (len(books)):
    print(books[x])

discovery of india
nexus
sapniens
gaban

In [3]:
password=("VijAI@123")
password=(input("enter password:"))
while (password):
    print(password[VijAI@123])

enter password: 123

NameError: name 'VijAI' is not defined

In [4]:
password=("VijAI@123")
password=(input("enter password:"))
while (password):
    print(password["VijAI@123"])

enter password: @123

TypeError: string indices must be integers, not 'str'

In [9]:
password=("VijAI@123")
password=(input("enter password:"))
while (password):
    print(password[VijAI@123])

enter password: vijai@123

NameError: name 'VijAI' is not defined

In [ ]:
password=("VijAI@123")
password=(input("enter password:"))
while (password):
    print("password")

In [ ]:
PASSWORD=("VijAI@123")
password=(input("enter password:"))
while password != PASSWORD:
    password=input("enter password")

In [1]:
PASSWORD=("VijAI@123")
password=(input("enter password:"))
while password != PASSWORD:
    password=input("enter password")

enter password: asdfg
enter password sdfgn
enter password asdfb
enter password vijai123
enter password viai123
enter password VijAI@123

In [1]:
NAME=("Mamta")
name=(input("enter name:"))
while name !=NAME:
    name=input("enter name")

enter name: asdf
enter name nd,sdm
enter name djfij
enter name njfni
enter name mamta
enter name Mamta

In [37]:
while True:
   num1=float(input("enter first number:"))
   num2=float(input("enter second number:"))
   operator=(input("enter choice of operator:"))
   

    if operator=="+":
       result=num1+num2

    elif operator=="-":
    result=num1-num2

elif operator=="-":
   result=num1*num2

elif operator=="/":
    result=num1/num2

else:
     print("invalid operator")


print("Result:",result)

enter first number: 12
enter second number: 45
enter choice of operator: +
enter first number: 2
enter second number: 3
enter choice of operator: +
enter first number: 1.5
enter second number: 1.2
enter choice of operator: +

KeyboardInterrupt: Interrupted by user

In [24]:
while True:
   num1=float(input("enter first number:"))
   num2=float(input("enter second number:"))
   operator=(input("enter choice of operator:"))
   

if operator=="+":

   result=num1+num2

elif operator=="-":
    result=num1-num2

elif operator=="-":
   result=num1*num2

elif operator=="/":
    result=num1/num2

else:
     print("invalid operator")


print("Result:",result)

KeyboardInterrupt: Interrupted by user

In [2]:

while True:
    num1=float(input("enter first number:"))
    num2=float(input("enter second number:"))
    operator=(input("enter choice of operator"))
              
    if operator=="+":
        result=num1+num2
     
    elif operator=="-":
        result=num1-num2
    
    elif operator=="*":
        result=num1*num2
    
    elif operator=="/":
        result=num1/num2
        
    else:
        print("invalid operator")
        continue
        
    print("Result:",result)

enter first number: 34
enter second number: 45
enter choice of operator +

Result: 79.0

enter first number: 75
enter second number: 67
enter choice of operator kl

invalid operator

enter first number: 45
enter second number: 56
enter choice of operator +

Result: 101.0

enter first number: 56
enter second number: 67
enter choice of operator op

invalid operator

KeyboardInterrupt: Interrupted by user

In [4]:
while True:
    num1=float(input("enter first number:"))
    num2=float(input("enter second number:"))
    operator=(input("enter choice of operator"))
              
    if operator=="+":
        result=num1+num2
     
    elif operator=="-":
        result=num1-num2
    
    elif operator=="*":
        result=num1*num2
    
    elif operator=="/":
        result=num1/num2
        
    else:
        print("invalid operator")
    continue:    
        
    print("Result:",result)

SyntaxError: invalid syntax (1028536206.py, line 20)

In [8]:
while True:
    num1=float(input("enter first number:"))
    num2=float(input("enter second number:"))
    operator=(input("enter choice of operator"))
              
    if operator=="+":
        result=num1+num2
     
    elif operator=="-":
        result=num1-num2
    
    elif operator=="*":
        result=num1*num2
    
    elif operator=="/":
        result=num1/num2
        
    else:
        print("invalid operator")
    continue
        
    print("Result:",result)

IndentationError: unexpected indent (1605951784.py, line 24)

In [1]:
for i in range (5):
    for j in range(5):
        if i==0 or i==4:
            print("*",end=" ")
        elif j==0 or j==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *