 ## on changing the value the id of the variable change

In [1]:
# immutable
x= 29
print(x)
print(id(x))

29
140720909694760

In [2]:
x=34
print(x)
print(id(x))# id is chanching

34
140720909694920

## on changing the value of the variable the id dose not chang

In [2]:
# mutable set,list and dictionary ** itrable
lst1=["Pankaj""neeraj","mayank"]
print(lst1)
print(id(lst1))

['Pankajneeraj', 'mayank']
2884321303104

In [5]:
lst1.append("suraj")
print(lst1)
print(id(lst1))

['Pankajneeraj', 'mayank', 'suraj']
2111928814976

In [6]:
lst1.remove("neeraj")
print(lst1)
print(is(lst1))

SyntaxError: invalid syntax (2118357371.py, line 3)

In [ ]:
## string is immutable

In [7]:
str1="hello world"
str1[0]

'h'

In [8]:
str1[0]="x"

TypeError: 'str' object does not support item assignment

## itrable string, set ,touple, diconary, list

### nonitrable floot intger etc