### chreccteristic of a set-

## a set is bulit-in data structure in pythonwith the following three charecteestics.

## 1)Unordered the items in the set are unordeerd,unlike lists,i.e,it will not maintain the orderd in which the items are insert,the item will e in a diffrent order each time when we acssec the set object.there will not be any index value assigned to each item in the set.

 ## 2)unchangeabe set item must be immutable.we cannot change the set items.but set as a whole is mutable.

## 3) unique: there cannot be two with the same value in the set.
## 4)itreble.

## creating a set
#### 1)there are following  two ways to create a set in python.
#### 2)using curly bracets .the easits and straightforwords way of creating a set is buy is just enclosing all the data items insidethe curly breckets{}. the individual values are comma -sepreate.
#### 3) using set{{} constructor .the set object is of type  class 'set'.so we can creat a set by celling the constructoer of class set.

In [9]:
set1=set("appppple")
print(set1)

{'e', 'l', 'a', 'p'}

In [10]:
sample_set {"Roopali","vidushi",25,45.56,[4,5,6]}#LIST IS UNHASABLE I.E IT IS MUTABLE 
                                                 #SO IT IS CAN NOT BE THE ITEM OF THE SET

print(sample_set)

SyntaxError: invalid syntax (914394608.py, line 1)

In [12]:
set=set(3,4)only one argument
print(set1)

TypeError: set expected at most 1 argument, got 2

In [14]:
set2=set(3)#set constructor must have itrable (l,s,d str,)data types.
print(set2)

TypeError: 'int' object is not iterable

In [15]:
set=set([])#empty list become empty set.
print([])

[]

In [16]:
## if there is no element inside are curly braket then this types data will be dictionary.

In [18]:
set1={}
type(set1)

dict

In [20]:
set=(4)# typle without coma intiger
type(set)

int

In [21]:
set=(4,)
type(set)

tuple

In [23]:
set=set((4))
type((set))

TypeError: 'tuple' object is not callable

In [25]:
set=set((4,))
type((4,))

TypeError: 'tuple' object is not callable

In [28]:
set4=set(())#empty set
type(set)

TypeError: 'tuple' object is not callable