## . what is variable

### A variable is a container that store data in the memory of your computer and you can store any data types in a a variable syntax-variable_name=data_to-be_stored.

In [1]:
x=10
y=20
print(x,y)

10 20

In [3]:
x=y
y=30
print(x,y)

30 30

In [4]:
x=100
y=200
print(x,y)

100 200

In [5]:
y=x/2
x=y/2
print(x,y)

25.0 50.0

In [6]:
a=5
b=a
a=b+3
b=a-2
c=a+b
print(c)

14

In [7]:
a=5
b=a
a=b+3
b=a-2
c=a+b

In [8]:
a=5
b=a
a=b+3
b=a-2
c=a+b
print(a)

8

string and intiger can not be devided

In [12]:
height= "175.5 cm"
weight="75.23 kg" 
bmi= weight/(height/100)**2
print("BMI IS",bmi)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [13]:
print(type(height))
print(type(weight))

<class 'str'>
<class 'str'>

In [14]:
x=20
type(x)

int

In [16]:
y=56.5
print(type(y))

<class 'float'>

In [17]:
x=45
type(x)
print("hello world")

hello world

In [2]:
x=45
print(type(x))
print("hello world")

<class 'int'>
hello world

## Typecasting

In [3]:
height=189
print(type(height))

<class 'int'>

In [4]:
## converting intiger into floot
height=float(height)
print(type(height))
print(height)

<class 'float'>
189.0

In [5]:
##converting float into string(str)
height=str(height)
print(type(height))
print(height)

<class 'str'>
189.0

In [2]:
greeting=123
greeting=int(greeting)
print(type(greeting))
print(greeting)

<class 'int'>
123

 we cant change string alphabets into intiger if theere will be the any number under the
string then it it could be convert into intiger

## ruels for name of variables

### 1- A variable name an not start with a number or any special charecter(@,#,$,%,^,&,*)
### 2- A variable name can only contain alphabets, number and underscore.
### 3- The use of special charecter is prohibited.
### 4- Variable names are case- senstive in python.
### 5- Python keywords cannot be used a variable name.

In [3]:
print("hello @ world")

hello @ world

In [4]:
print("@helloworld")

@helloworld

print(#"hello world")

# important topics related to variable

### 1.storing an expression in a variable

In [4]:
animal_1 = "c"+"a"+"t" #"c"+"a"+"t" is a expression
print(animal_1)

cat

In [7]:
animal_2 ="dog"
combined_animal = animal_1+animal_2 #animal_1 +animal_2is an expression
print(combined_animal)

caatdog

In [11]:
new_variable = 12+34 #12+34 is an expression
print(new_variable)

46

 ### 2.storing one variable to another

In [12]:
x =56
y=x
print(x)
print(y)

56
56

In [13]:
x= 18
print(x)
print(y)

18
56

In [14]:
var_x = 12
var_z = var_y = var_x

print(var_x)
print(var_y)
print(var_z)

12
12
12

In [16]:
var_x=35
print(var_x)
print(var_z)

35
12

In [17]:
var_z=43
print(var_x)
print(var_y)

35
12

 ### 3.multiple variable creation

In [18]:
student_1= "Gaurav"
student_2= "rohit"
student_3= "kartik"
print(student_1)
print(student_2)
print(student_3)

Gaurav
rohit
kartik

In [19]:
std_1,std_2, std_3 = "Gaurav","rohit", "kartik"

In [20]:
print(std_1)
print(std_2)
print(std_3)

Gaurav
rohit
kartik

 ### 4.Reassining a variable

In [22]:
user_age = 20
print(user1_age)

this is age

In [23]:
user1_age = 45
print(user1_age)

45

In [21]:
user1_age = "this is age"
print(user1_age)

this is age

 ### 5. Constant Variable

To define a variable whose value we do not want to change in the whole program, we write the name that variable in a
capital letter.this is a common practice but not enforced by python.

In [24]:
PI =3.14 #constant
print(PI)

3.14

In [ ]:
it is still possible to change the value of this constant variable.

In [25]:
PI= 2.18
print(PI)

2.18

 ### 6.Deliting variable

In [26]:
x= 10
print(x)

10

In [27]:
a= 12
b= "hello world"
print(a,b)

12 hello world

In [28]:
del(a,b)

In [29]:
print(a,b)

NameError: name 'a' is not defined

In [31]:
# write a program to swap the valus of two variables var_1 and var_2

var_1=23
var_2=94

In [3]:
print(var_1,var_2)

NameError: name 'var_1' is not defined

In [4]:
# write a program to swap the valus of two variables var_1 and var_2

var_1=23
var_2=94
(var_1,var_2)
(var_2,var_1)

In [7]:
print(var_1,var_2)

23 94

In [9]:
var_1= 23
var_2= 94
print(var_1,var_2)
var_1=var_2
var_2=var_1

23 94

In [10]:
var_1= 23
var_2= 94
print(var_1,var_2)
var_1,var_2 = var_2,var_1
print(var_1,var_2)

23 94
94 23